
.box {
    margin: 20px;
    padding: 20px;
    border: 5px solid black;
    height: 1000px;
    width: 1000px;
    background: rgb(201, 199, 199)
}

.screen {
    margin: 20px 20px;
    border: 2px solid black;
    height: 50px;
    width: 484px;
    background: #333;
    color: white;
    padding-left: 20px;
    font-size: 45px;
}

.numPad {
    margin: 0 20px;
    padding: 30px;
    border: 2px solid black;
    float: left;
    background:rgb(158, 156, 156)
}

.num {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    border-style: ridge;
    font-size: 50px;
}

.enter {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    border-style: ridge;
    font-size: 50px;
    background:rgb(201, 199, 199)
}

.num:hover {
    background: rgb(255, 109, 109)
}

.enter:hover {
    background: rgb(109, 255, 116)
}

.note {
    float: left;
}

.postIt {
    background-color: greenyellow;
    font-size: 40px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}