@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.background-startpage {
    background: rgba(43, 3, 88, 0.568);
    height: 100%;
    background: url('https://image.freepik.com/free-photo/old-deep-forest-scary-trees-mystic-grunge-background_8457-93.jpg') no-repeat;
    /* background-position: 0px 0px; */
    z-index:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.progress{
    background-color:rgb(252, 152, 105);
    height: 30px;
    border-radius: 30px;
    border: 1px solid black
}

.progress-bar{
    background-color:rgb(255, 101, 29);
    font-size: 20px;
    border-right: 1px dotted black;
}

.start {
    font-size: 50px;
    text-align: center;
    border-radius: 30px;
    color: black;
    font-family:courier;
}

.title {
    text-align: center;
}

/* .info {
    width: 90%;
    margin-top: 30px;
    height:fit-content;
} */
.resume-start{
    font-family: "Poppins", "sans-serif";
}

/* .creepy-forest{
    background: url('https://image.freepik.com/free-photo/old-deep-forest-scary-trees-mystic-grunge-background_8457-93.jpg') no-repeat;
    background-position: 0px 0px;
    z-index:0;
} */