
.paintingComponent body {
    background-color: black;
    display: flexbox;
}

.paintingComponent .jigsaw {
    text-align: center;
}

.paintingComponent .jigsaw__solved-board {
    position: relative;
    background-size: cover;
}

.paintingComponent .jigsaw__solved-board:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.paintingComponent .jigsaw__solved-board,
.paintingComponent .jigsaw__shuffled-board {
    margin: 20px auto;
    width: 400px;
    list-style-type: none;
    padding: 0;
    font-size: 0;
    border: 1px solid #DDD;
    border-width: 1px 0 0 1px;
}

.paintingComponent .jigsaw li {
    position: relative;
    text-align: left;
    display: inline-block;
    width: 99px;
    height: 99px;
    border: 0px solid #DDD;
    border-width: 0 1px 1px 0;
}

.paintingComponent .jigsaw li:empty:hover:before {
    opacity: 1;
}

.paintingComponent .jigsaw li img {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: grab;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.paintingComponent .jigsaw li img:hover {
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.8);
}


.paintingComponent .head {
    display: flexbox;
}

.paintingComponent .head-components {
    width: 100px;
    height: 100px;
}