.deskPage {
    background-image: url('../../images/desktop2.jpg');
    background-size: cover;
    height: 850px;
    width: 1024px;
    border: 5px ridge rgb(165, 101, 42);
    margin: auto;
}

.deskTitle {
    font-size: 40px;
    color: white;
    padding: 20px;
}

.calendar {
    background-image: url('../../images/calendar.png');
    background-size: 100% 100%;
    height: 500px;
    width: 600px; 
}

.december {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.dates {
    font-size: 14px;
    line-height: 0.5;
}

.dad {
    font-size: 13px;
    color: black;    
}

.title {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.cup {
    background-image: url('../../images/coffee.png');
    background-size: 100% 100%;
    height: 166px;
    width: 195px;
}

.book {
    background-image: url('../../images/book.png');
    background-size: 100% 100%;
    height: 260px;
    width: 195px; 
}

.stapler {
    background-image: url('../../images/stapler.png');
    background-size: 100% 100%;
    height: 170px;
    width: 230px; 
}

.dentist {
    font-size: 11px;
    color: black;    
}

.important {
    font-size: 14px;
    color: black;    
}

.pin {
    font-size: 14px;
    color: black;    
}

.code {
    font-size: 11px;
    color: black;    
}

.pen {
    background-image: url('../../images/pen.png');
    background-size: 100% 100%;
    height: 170px;
    width: 275px;   
}

.glass {
    background-image: url('../../images/glass.png');
    background-size: 100% 100%;
    height: 170px;
    width: 230px;   
}