.deskPage {
    background-image: url('../../images/desktop.jpg');
    background-size: cover;
    height: 850px;
    width: 1024px;
    border: 5px ridge rgb(165, 101, 42);
    margin: auto;
}

.deskTitle {
    font-size: 40px;
    color: black;
    padding: 20px;
}

.calendar {
    background-image: url('../../images/calendar.png');
    background-size: 100% 100%;
    height: 400px;
    width: 500px; 
}

.december {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.dates {
    font-size: 14px;
    line-height: 0.5;
}

.dad {
    font-size: 11px;
    color: black;    
}

.title {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.cup {
    background-image: url('../../images/coffee.png');
    background-size: 100% 100%;
    height: 175px;
    width: 250px;
}

.book {
    background-image: url('../../images/book.png');
    background-size: 100% 100%;
    height: 375px;
    width: 325px; 
}

.stapler {
    background-image: url('../../images/stapler.png');
    background-size: 100% 100%;
    height: 200px;
    width: 275px; 
}

.dentist {
    font-size: 11px;
    color: black;    
}

.important {
    font-size: 11px;
    color: black;    
}